<!DOCTYPE html>
<html>
<head>
  <title>SaasKit</title>
  <%= stylesheet_link_tag    "saas_kit/application", media: "all" %>
  <%= javascript_include_tag "saas_kit/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
